
/*Editando o header e o Banner pegando os dados do figma */ 
.banner{
width: 1440px;
height: 605px;
gap: 0px;
border: 0px 0px 1px 0px;
opacity: 0px;
background-color: red;
}
.banner-content{
width: Hug (510px)px;
height: Hug (393px)px;
top: 56px;
left: 465px;
gap: 16px;
opacity: 0px;
background-color: yellow;

}